.json-key {
  color: #198754;
  /* Verde escuro */
  font-weight: bold;
}

.json-string {
  color: #0d6efd;
  /* Azul escuro */
}

.json-number {
  color: #d63384;
  /* Rosa escuro */
}

.json-boolean {
  color: #fd7e14;
  /* Laranja */
}