{% extends "base.html" %}

{% block frame_title %}
API REST - Ecoturismo
{% endblock %}

{% block content %}
<!-- Main content -->
<main class="col-md-11 ms-md-auto col-lg-11 px-md-4">
  <div class="row">
    <div class="col-md-11 mt-3 text-center">
      <h1 class="text-success">Ecoturismo</h1>
      <p class="mt-3 text-muted">
        O ecoturismo é uma forma sustentável de viagem que visa preservar os ambientes naturais e, ao mesmo
        tempo, proporcionar experiências significativas aos viajantes. Centra-se na minimização do impacto
        ecológico, no apoio às comunidades locais e na promoção da educação ambiental. Seja explorando florestas
        tropicais exuberantes, mergulhando com snorkel em recifes de corais ou caminhando em cadeias montanhosas
        remotas, o ecoturismo oferece uma oportunidade de se conectar com a natureza de forma responsável e
        contribuir para os esforços de conservação. O ecoturismo também desempenha um papel vital no avanço dos
        Objectivos de Desenvolvimento Sustentável <a href="https://brasil.un.org/pt-br/sdgs">(ODS)</a> das Nações
        Unidas.
      </p>
    </div>
  </div>

  <!-- Carousel -->
  <div id="carousel" class="carousel slide my-3" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-inner" id="corouselImages">
      <div class="carousel-item active">
        <img src="https://picsum.photos/id/66/800/600" class="d-block w-100" alt="Imagem 66">
      </div>
      <!-- Demais imagens do carrossel aqui -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}