{% extends "base.html" %}

{% block frame_title %}
Login
{% endblock %}

{% block content %}
<main class="col-md-11 ms-md-auto col-lg-11 px-md-4">
  <div class="row">
    <div class="col-md-11 mt-3">
      <section class="mb-4">
        <h3 class="text-success mt-3">Rotas</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>POST /login</strong>
            <ul>
              <li><strong>Restrição:</strong> Nenhuma</li>
              <li><strong>Campos enviados:</strong>
                <ul>
                  <li>email: Email do usuário.</li>
                  <li>senha: Senha do usuário.</li>
                </ul>
              </li>
              <li><strong>Retorno:</strong> JSON contendo os dados do usuário logado ou mensagem de erro.</li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
{% endblock %}